//version: 0.0.8

$bg-color: #ffffff;

$first-color: #ffffff;

//TEXT
$font-colour: $first-color;
$font-weight: 700;
$header-font-size: 28px;

$outter-spacing: 20px;

@import 'reset';
@import 'fonts';
@import 'mixins';

html, body {
	background-color: $bg-color;
}

section {
	
}