//version: 0.0.8

$first-color: #7dfab2;
$second-color: #ee8ad4;
$third-color: #ffffff;
$off-color: #c867af;

//TEXT
$font-colour: $first-color;
$font-weight: 700;
$header-font-size: 28px;

$outter-spacing: 20px;

@import 'reset';
@import 'fonts';
@import 'mixins';

html, body {
	background-color: $first-color;
}

section.container {
	width: 100%;
	
	.container__inner {
		#count__button_copy.off{
			background-color: $off-color;
			-webkit-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;
			cursor: default;
		}
		
		#count__button_copy {
			display: inline-block;
			margin: auto;
			padding: $outter-spacing;
			background-color: $second-color;
			color: $third-color;
			cursor: pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
            user-select: none;
		}
	}
	
	.container__inner.sub {
		background-color: $second-color;
	}
	
	.count {
		margin: $outter-spacing;
	}
}