doctype html
html
	head
		title= title
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0")
		
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@MeTooThreeFour")
		meta(name="twitter:creator", content="@MeTooThreeFour")
		meta(name="twitter:title", content="Me Too Three Four")
		meta(name="twitter:description", content="Say #metoo anonymously, and show the world the scale of the problem of sexual harassment and assault.")
		meta(name="twitter:image", content"http://metoothreefour.com/imgs/me_too_three_four_opengraph.jpg")
		
		meta(property="og:title", content="Me Too Three Four")
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://metoothreefour.com/")
		meta(property="og:image", content="http://metoothreefour.com/imgs/me_too_three_four_opengraph.jpg")
		meta(property="og:site_name", content="Me Too Three Four")
		meta(property="og:description", content="Say #metoo anonymously, and show the world the scale of the problem of sexual harassment and assault.")
		meta(property="fb:app_id", content="127196214651111")
		
		meta(name="description", content="Say #metoo anonymously, and show the world the scale of the problem of sexual harassment and assault.")
		meta(name="keywords", content="Metoo, women, campaign, twitter, sexual assault , sexual harassment, change")
				
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		link(rel="apple-touch-icon" sizes="57x57" href="imgs/apple-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="imgs/apple-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="imgs/apple-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="imgs/apple-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="imgs/apple-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="imgs/apple-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="imgs/apple-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="imgs/apple-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="imgs/apple-icon-180x180.png")
		link(rel="icon" type="image/png" sizes="192x192"  href="imgs/android-icon-192x192.png")
		link(rel="icon" type="image/png" sizes="32x32" href="imgs/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="imgs/favicon-96x96.png")
		link(rel="icon" type="image/png" sizes="16x16" href="imgs/favicon-16x16.png")
		
		include html5shiv
		
		script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		script(type="text/javascript",src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
		script(type="text/javascript",src="/js/modernizr_mobile_detect.min.js")
		script(type="text/javascript",src="/js/countUp.js")
		script(type="text/javascript",src="/js/js.cookie.js")
		script(type="text/javascript",src="/js/application.js")
		script.
			var socket = io.connect('#{socket_route}');
	body
		section.container
			section.container__inner
		
				section.count#count_section
			
					section.count__holder
						p#count__number 0
						
					section.count__button
						p#count__button_copy Click to say #metoo.
						
						p#count__button_after_click The bigger the number the harder it is to ignore.
				
					section.count__copy
						p We can't even begin to count how many of our friends, family members, colleagues, girls-met-in-nightclub-toilets, school lollipop ladies, or mum's mates have said #metoo. It's a damn shame. Even us women had no idea the problem was this huge. But it's huge.<br />HUGE. 

						p The problem is, the #metoo hashtag only gives a voice to those who feel comfortable using it. We want to give everyone a chance to say #metoo, anonymously. And we don't want it to get lost in your newsfeed.

						p Facts can change behaviour.<br />So help us put this monster of a number in one place. <strong>Click the button</strong> to be counted as a human being that has been sexually harassed or assaulted.
						
					section.count__social
						section.count__social_button_holder
							section.count__social_button
								a(href="http://twitter.com/intent/tweet/?text=http%3A%2F%2Fmetoothreefour.com%20and%20click%20to%20say%20%23metoo%20anonymously.%20Don%E2%80%99t%20let%20%23metoo%20get%20lost%20in%20your%20feed.%20Let%E2%80%99s%20look%20at%20this%20monster%20of%20a%20number." target="_blank" class="share_button share_button__twitter")
									img(src="imgs/twitter_icon.png")
							
							
						section.count__social_button_holder
							section.count__social_button
								a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmetoothreefour.com&src=sdkpreparse" target="_blank" class="share_button share_button__facebook")
									img(src="imgs/facebook_icon.png")
							
			section.container__inner.sub
			
				section.count.copy_container
					
					section.copy_container__full
						p Times like these can be testing, triggering and distressing.<br />Please do not suffer alone.
					
					section.copy_container__thirds#forhumans
						h3 For humans
						
						ul
							li NHS Choices<br /><a target="_blank" href="https://www.nhs.uk/Livewell/Sexualhealth/Pages/Sexualassault.aspx">Help after rape and sexual assault</a>

							li Sexual Abuse Referral Centres<br /><a target="_blank" href="https://www.nhs.uk/Service-Search/Rape%20and%20sexual%20assault%20referral%20centres/LocationSearch/364">Find a SARC</a>
							li NSPCC<br />Helpline: <a href="tel:080880050000">0808 800 5000</a><br />(24 hours, every day)<br /><a target="_blank" href="https://www.nspcc.org.uk/">nspcc.org.uk</a>

							li Victim Support<br />Supportline: <a href="tel:08081689111">0808 168 9111</a><br /><a target="_blank" href="https://www.victimsupport.org.uk/">victimsupport.org.uk</a>

							li The Survivors Trust<br />Helpline: <a href="tel:08088010818">0808 801 0818</a><br /><a target="_blank" href="http://thesurvivorstrust.org/">thesurvivorstrust.org</a>
					
					section.copy_container__thirds#forwomen
						h3 For women
						
						ul
							li NHS Choices<br /><a target="_blank" href="https://www.nhs.uk/Livewell/Sexualhealth/Pages/Sexualassault.aspx">Help after rape and sexual assault</a>
							
							li Sexual Abuse Referral Centres<br /><a target="_blank" href="https://www.nhs.uk/Service-Search/Rape%20and%20sexual%20assault%20referral%20centres/LocationSearch/364">Find a SARC</a>
							
							li NSPCC<br />Helpline: <a href="tel:080880050000">0808 800 5000</a><br />(24 hours, every day)<br /><a target="_blank" href="https://www.nspcc.org.uk/">nspcc.org.uk</a>
							
							li Rape Crisis<br />Helpline: <a href="tel:08088029999">0808 802 9999</a><br />(12-2:30 and 7-9:30)<br /><a target="_blank" href="https://rapecrisis.org.uk">rapecrisis.org.uk</a>
							
							li Victim Support<br />Supportline: <a href="tel:08081689111">0808 168 9111</a><br /><a target="_blank" href="https://www.victimsupport.org.uk/">victimsupport.org.uk</a>
							
							li RASAC (Rape and Sexual Abuse Support Centre)<br />National Helpline: <a href="tel:08088029999">0808 802 9999</a><br />(12-2.30 & 7-9.30)<br /><a target="_blank" href="http://www.rasasc.org.uk/">rasasc.org.uk</a>
							li Women Against Rape<br /><a target="_blank" href="http://www.womenagainstrape.net/">womenagainstrape.net</a>
							
							li The Survivors Trust<br />Helpline: <a href="tel:08088010818">0808 801 0818</a><br /><a target="_blank" href="http://thesurvivorstrust.org/">thesurvivorstrust.org</a>
							
							li Women's Aid Federation<br />National Domestic Violence Helpline:<br /><a href="tel:08082000247">0808 2000 247</a><br />(24hrs)<br /><a target="_blank" href="http://www.womensaid.org.uk/">womensaid.org.uk</a>
					
					
					section.copy_container__thirds#formen
						h3 For men
						
						ul
							li Survivors UK<br /><a target="_blank" href="http://www.survivorsuk.org/">survivorsuk.org</a>
							
							li Rape Crisis<br />Helpline: <a href="tel:08088029999">0808 802 9999</a><br />(12-2.30 & 7-9.30)<br /><a target="_blank" href="https://rapecrisis.org.uk/">rapecrisis.org.uk</a>
							
							li Victim Support<br />Supportline: <a href="tel:08081689111">0808 168 9111</a>
							
					section.copy_container__full#sign_off
					
						p <strong>If you know of any more please DM us at <a target="_blank" href="https://twitter.com/metoothreefour">@metoothreefour</a></strong>
					
	
	footer
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108479306-1"></script>
		<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-108479306-1');</script>

		